.navbar-brand {
    font-weight: bold;
}
.navbar-expand .navbar-nav .nav-link{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.navbar-expand .navbar-nav .nav-link:hover{
    color: rgb(12, 88, 155);
}
.navLink{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    padding-left: 20px;
}